@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans-Regular'), url(open-sans.woff) format('woff'), url(open-sans.ttf) format('truetype');
}

body {
    font-family: 'Open Sans', arial;
    margin: 0px;
    user-select: none;
}

#content {
    margin: 60px auto 0px auto;
    display: table;
}

#description {
    width: 400px;
    margin: 60px 0px 0px;
}

#balance {
    margin: 10px 0px;
    color: #00b7c2;
    font-size: 20px;
    float: right;
    padding: 3px;
}

#newGame, #restart {
    margin: 10px 10px 10px 0px;
    color: white;
    font-size: 20px;
    float: left;
    background-color: #00b7c2;
    border-radius: 10px;
    padding: 3px;
}
